* {
  font-family: 'Merriweather Sans', 'Avenir', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
img {
  max-width: 100%;
}

a {
  text-decoration: unset;
  color: unset;
}

button {
  border: none;
  background: none;
}
